<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about.html</title>
</head>
<body>
    <h1>A page about Jack McDonough</h1>
    <h2> I will discuss some of my <strong>favorite</strong> activities below</h2>
    <p> <strong>Some</strong> of my <strong>favorite</strong> activities, in no <em>specific</em> order are </p>
        <ul> <!-- This creates an unordered list of my favorite activities -->
            <li> Chess </li>
            <li> Basketball </li>
            <li> Working out</li>
        </ul>
    <h2> I will now talk about some of my <strong>favorite</strong> music genres</h2>
    <p>I enjoy a variety of genres including Indie rock, EDM and R&B. If I <em>had</em> to order them,
            I would do so as follows:</p>
            <!-- This code creates an ordered list of my favorite music genres-->
        <ol>
            <li>EDM</li>
            <li>R&B</li>
            <li>Indie Rock</li>
        </ol>
    <table>
        <tr>
            <th>Courses I have taken</th>
            <th> Semester I took them</th>
        </tr>
        <tr>
            <td>BMGT110F</td>
            <td>Semester 1</td>
        </tr>
        <tr>
            <td>BMGT 302</td>
            <td>Semester 5</td>
        </tr>
        <tr>
            <td>BMGT 407, my favorite class in college</td>
            <td> Semester 8</td>
        </tr>
    </table>
    <p>Here is a link to my <a href = "http://localhost:63342/helloWorld/templates/hello.html"> hello page </a> </p>
    <p>Here is a link to one of my <a href = "https://www.linkedin.com/in/john-mcdonough-b3b9851a2/" target = "_blank">favorite websites</a>, please connect!
    </p>
    <p>Here is a link to another one of my favorite <a href = "https://www.chess.com/">websites</a>. Although I enjoy it, I am very bad
    </p>
    <p>Here is a picture of the smith logo</p>
        <img src ="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width = "267" height="72" alt = "smith logo">
             <!-- I used the above width and height because it was used in the slides -->
</body>
</html>